@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    padding: 0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

body{
    width:100vw;
    height: 100vh;
    background-image: url("birthday.jpeg");
    background-size: cover;
    background-position: center;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    font-size:50px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-top: 50px;
    
}
.container>div{
    width:40px;
    margin-right: 20px;
    font-size: 12px;
}
.container >div > div{
    display: flex;
    gap:25px;
}

.container >div > div >h2{
    margin-bottom: 20px;
}
@media (min-width:400px)
{
    
    .heading{
        font-size:50px;
    }
    .container > div{
        width:60px;
        font-size: 16px;
    }
    .container{
        margin-top: 60px;
    }
}

@media (min-width:576px)
{
    .heading{
        font-size:75px;
    }
    .container > div{
        width:125px;
        font-size: 20px;
    }
    .container{
        margin-top: 75px;
    }
}
@media (min-width:768px)
{
    .heading{
        font-size:100px;
    }
    .container > div{
        width:150px;
        font-size: 25px;
    }
    .container{
        margin-top: 100px;
    }
}